
body{

}
.game {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-gap: 2vw;
  background-color: #fff;
  color: #444;

  margin-left: 5vw;
  margin-right: 7vw;
  margin-top: 50px;
}
.item {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 2vh;
  font-size: 150%;
  text-align: center;
}

.reveal {
  color:#333;
}
.test {
  background-color: blue;
}

.match {
  background-color: #fff;
}

form {
  margin: 50px 7vw 0 5vw;
  padding: 10px;
  background-color: red;
}
